.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  gap: 12px;
  padding: 12px;
  cursor: pointer;
}

.firstRow {
  display: flex;
  align-items: center;
}

.link {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  word-break: break-all;
  color: blue;
}

.dropDownContainer {
  display: flex;
}

.linkMetadataContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
  padding-left: 8px;
  border-left: 1px solid black;
}

.thumbnail {
  width: 40%;
  height: 104px;
  border-radius: 8px;
  overflow: hidden;
  & > img {
    width: 100%;
  }
}
