.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: whitesmoke;
  color: black;
}

.header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  gap: 12px;
}

.headerFirstRow {
  display: flex;
  padding: 12px 12px 0;
  align-items: center;
  justify-content: space-between;
}

.headerSecondRow {
  display: flex;
  background-color: white;
  width: 60%;
  padding: 0 12px 8px 12px;
}

.segmentContainer {
  display: flex;
  width: 400px;
}
